/* Global*/
*, *::before, *::after {
    box-sizing: border-box; }
  
$font-title: 'Kalam', cursive;
$text: 'Noto Sans', sans-serif;
$font-subtitle:'Secular One', sans-serif;

  body {
    margin: 0;
    text-align: center;
    background: #1e272e;
    color: #ffa801;
    font-family: $text ;
    font-size: 20px;
    line-height: 1.7; }
  
  section {
    padding: 80px 0;}
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
  }


  .page-title {
      font-family: $font-title;
      font-size: 45px;
  } 

  .page-subtitle {
      font-family: $font-subtitle;
      font-size: 20px;
  }